<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

### Part 1: Read in the file with `pd.read_csv()`.

Hint: This is a TSV (tab-separated value) file, so you may have to pass in an additional argument...

In [1]:
import pandas as pd
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './datasets/chipotle.tsv'

In [2]:
chipotle = pd.read_csv(DATA_FILE, delimiter='\t')
chipotle.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

---

## Intermediate Level

### Part 2: Fix the item_price column.

You'll need to remove the dollar signs ($) and then change the dtype to float.



### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [3]:
#Part 2 Answer:
print(chipotle.dtypes)
chipotle['item_price'] = chipotle.item_price.replace('\$','', regex=True)
chipotle = chipotle.astype({'item_price': float})
print(chipotle.dtypes)

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object
order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [4]:
#Part 3 Answer:
chipotle.groupby('order_id').item_price.sum().mean()

18.81142857142869

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [5]:
unique_sodas = chipotle[chipotle.item_name.isin(['Canned Soda', 'Canned Soft Drink'])].choice_description.unique()
unique_sodas

array(['[Sprite]', '[Dr. Pepper]', '[Mountain Dew]', '[Diet Dr. Pepper]',
       '[Coca Cola]', '[Diet Coke]', '[Coke]', '[Lemonade]', '[Nestea]'],
      dtype=object)

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [6]:
num_toppings = chipotle[chipotle.item_name.str.contains('Burrito')].choice_description.str.count(',') + 1
num_toppings.mean()

5.395051194539249

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

In [7]:
# Your code here (start with a new dataframe)
chip_orders = None

In [8]:
dict(chipotle[chipotle.item_name.str.contains('Chip')].groupby('item_name').quantity.count())

{'Chips': 211,
 'Chips and Fresh Tomato Salsa': 110,
 'Chips and Guacamole': 479,
 'Chips and Mild Fresh Tomato Salsa': 1,
 'Chips and Roasted Chili Corn Salsa': 22,
 'Chips and Roasted Chili-Corn Salsa': 18,
 'Chips and Tomatillo Green Chili Salsa': 43,
 'Chips and Tomatillo Red Chili Salsa': 48,
 'Chips and Tomatillo-Green Chili Salsa': 31,
 'Chips and Tomatillo-Red Chili Salsa': 20,
 'Side of Chips': 101}

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!