<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Python Coding Exercises

_Authors: Joseph Nelson (DC), Dan Wilhelm (LA)_

---

The following code challenges are drawn from common exercises used in technical interviews.

Please note that there may be several ways to approach each challenge. If you get stuck, try mapping out your approach in pseudocode first. Finally, while solutions to problems like these may be found online, remember that if you copy/paste code that you can't explain, you'll be missing out on the point of the project. The only way to truly learn a new skill is through practice, trial, and error - we can only help you improve by understanding where you are having trouble.

### Challenge 1: Largest Palindrome
A palindromic number reads the same both ways. For example, 1234321 is a palindrome. The largest palindrome made from the product of two two-digit numbers is 9009 = 91 × 99. Find the largest palindrome made from the product of two three-digit numbers. Afterward, write a brief explanation walking through your code's logic in markdown.

In [1]:
# Helper function to determine whether a number is a palindrome.
# Converts number into string and does a comparison with the reverse string.
def isPalindrome(number):
    str_number = str(number)
    return str_number[::-1] == str_number

In [2]:
# To find the largest palindrome made from the product of two three-digit numbers:
# 1. Iterate through all the three-digit number (100-999) pairs
# 2. Calculate the product
# 3. Check whether it is a Palindrome
# 4. If it is, check whether it is bigger than the last seen biggest palindrome
#    - Note that we start the last seen biggest palindrome at 0
max_i, max_j, max_product = 0, 0, 0
for i in range(100, 1000):
    for j in range(100, 1000):
        product = i * j
        if isPalindrome(product):
            if product > max_product:
                max_i, max_j = i, j
                max_product = product

print(max_i, max_j)
print(max_product)

913 993
906609

### Explanation
To find the largest palindrome made from the product of two three-digit numbers:
1. Iterate through all the three-digit number (100-999) pairs
2. Calculate the product
3. Check whether it is a Palindrome
4. If it is, check whether it is bigger than the last seen biggest palindrome (Note that we start the last seen biggest palindrome at 0)


### Challenge 2: Summation of Primes
The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17. Find the sum of all the primes below 2,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [3]:
# Helper function to determine whether a number is prime.
# Checks whether number is less than or equal to 1, since primes numbers must be greater than 1
# If it is greater than 1, checks that number isn't divisible by any numbers in range(2, number)
def isPrime(number):
    # Prime numbers are greater than 1
    if number <= 1:
        return False
    
    is_prime = True
    for i in range(2, number):
        if number % i == 0:
            is_prime = False
        
    return is_prime

In [4]:
# To find the sum of all the primes below 2000:
# 1. Iterate through range(0, 2000)
# 2. If the number is prime, add it to the running total
prime_sum = 0
for i in range(0, 2000):
    if isPrime(i):
        prime_sum += i
        
print(prime_sum)

277050

### Explanation
To find the sum of all the primes below 2000:
1. Iterate through range(0, 2000)
2. If the number is prime, add it to the running total

### Challenge 3: Multiples of 3 and 5
If we list all of the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 and 5 below 1,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [5]:
# Helper function to determine whether number is multiple of 3 or 5
def my_multiple(number):
    if number % 3 == 0 or number % 5 == 0:
        return True
    return False

In [6]:
# To find the sum of all the multiples of 3 and 5 below 1000:
# 1) Iterate through range(0, 1000)
# 2) If the number is a multiple of 3 or 5, add it to the running total
running_total = 0
for i in range(0, 1000):
    if my_multiple(i):
        running_total += i
    
print(running_total)

233168

### Explanation
To find the sum of all the multiples of 3 and 5 below 1000:
1. Iterate through range(0, 1000)
2. If the number is a multiple of 3 or 5, add it to the running total

### Challenge 4: String Compressor
Write a function to perform basic string compression using the counts of repeated characters. (This is called run-length encoding.) For example, the string "aabcccccaaa" would become a2b1c5a3. If the “compressed” string would not become smaller than the original string, your method should return the original string. You can assume the string has only uppercase and lowercase letters (a–z). Specify whether your solution is case sensitive or case insensitive and what you would need to change to make it the other. Afterward, write a brief explanation walking through your code's logic in markdown.

In [7]:
# To compress the string:
# 1. Iterate through all the characters in the string
# 2. If the character is the same as the previous character, iterate a counter
# 3. Otherwise, concatenate the character and it's count to a running string.
# 4. At the end, need to append the current_char and it's count, since the loop concatenates
#    before looking at the next character - meaning the last character is skipped.
# 5. Check whether the running string is actually smaller and return if so.
#    Otherwise return original string

# Note: this solution is case sensitive. In order to make it case insensitive,
# I would need to ignore the casing when I do the comparison of the ch and current_char.
# That could be done by either converting both to lowercase or both to uppercase.
def stringCompression(str_input):
    current_char = str_input[0]
    current_char_count = 1
    compressed_str = ''
    for ch in str_input[1:]:
        if ch == current_char:
            current_char_count += 1
        else:
            compressed_str += current_char + str(current_char_count)
            current_char = ch
            current_char_count = 1
            
    compressed_str += current_char + str(current_char_count)

    if len(compressed_str) > len(str_input):
        return str_input
    return compressed_str

### Explanation
To compress the string:
1. Iterate through all the characters in the string
2. If the character is the same as the previous character, iterate a counter
3. Otherwise, concatenate the character and it's count to a running string.
4. At the end, need to append the current_char and it's count, since the loop concatenates
   before looking at the next character - meaning the last character is skipped.
5. Check whether the running string is actually smaller and return if so.
   Otherwise return original string

Note: this solution is case sensitive. In order to make it case insensitive,
I would need to ignore the casing when I do the comparison of the ch and current_char.
That could be done by either converting both to lowercase or both to uppercase.

### Challenge 5: CSV Reader
Write a function `read_csv` that opens a CSV file and returns a list of named tuples. 

+ Read the [namedtuple docs](https://docs.python.org/3/library/collections.html#collections.namedtuple).
+ Do not use the Python CSV reader standard library.
+ Assume the first row of the CSV file is always a header row. 
+ Assume the CSV file does not contain any quoted fields.
+ Assume no fields are missing or have invalid values.
+ All returned fields can be left as strings.

Optional challenges:
+ _Optional:_ Support quoted fields. (A double-quoted string can contain commas without indicating a new field.) For an example and test case, see `./data/athletes-original.csv`.
+ _Optional:_ Implement the `dtypes` parameter. This dictionary specifies the data type that each CSV field should be converted to. For example, `int` would indicate the field should be converted from a string to an integer. If a field is not named, leave it as a string. See the dictionary in the below starter code for an example.

_Hint:_ The final output will look like:

[Row(name='Lamusi A', sport='Judo', age='23', height='170', weight='60', country="People's Republic of China", sex='M', gold='0', silver='0', bronze='0', total='0'), 

Row(name='A G Kruger', sport='Athletics', age='33', height='193', weight='125', country='United States of America', sex='M', gold='0', silver='0', bronze='0', total='0'),

...]

In [8]:
# To read csv and return a list of named tuples:
# 1. Open the file and get each line using file.readlines()
# 2. Pull out the headers from the first line.
#    I use strip() to remove all surround white space (including new lines)
#    and then use split(",") to split the string into list of words using "," as the delimiter.
# 3. Create the named tuple using the headers
# 4. Interate through the rest of the lines
# 5. For each line, use the namedtuple function _make(...) and pass in the list of values.
#    I use strip() to remove all surround white space (including new lines)
#    and then use split(",") to split the string into list of words using "," as the delimiter.
# 6. Append that namedtuple to rows
from collections import namedtuple

def read_csv(filename, dtypes={}, encoding='utf-8'):
    """ Returns a list of namedtuples. 
    The fields in each namedtuple are specified by the header row."""
    rows = []
    headers = []
    
    with open(filename) as file:
        data = file.readlines()
        headers = data[0].strip().split(",")
        Row = namedtuple("Row", headers)
        for line in data[1:]:
            row = Row._make(line.strip().split(","))
            rows.append(Row._make(line.strip().split(",")))
    
    return rows


# For the challenge problem only
dtypes = {'age': int, 'height': int, 'weight': int, 
          'gold': int, 'silver': int, 'bronze': int, 'total': int}

read_csv('./datasets/athletes-unquoted.csv', dtypes=dtypes)

[Row(name='Lamusi A', sport='Judo', age='23', height='170', weight='60', country="People's Republic of China", sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='A G Kruger', sport='Athletics', age='33', height='193', weight='125', country='United States of America', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Jamale Aarrass', sport='Athletics', age='30', height='187', weight='76', country='France', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Abdelhak Aatakni', sport='Boxing', age='24', height='', weight='', country='Morocco', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Maria Abakumova', sport='Athletics', age='26', height='178', weight='85', country='Russian Federation', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Luc Abalo', sport='Handball', age='27', height='182', weight='80', country='France', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Maria Laura Abalo', sport='Rowing', age='30', height='182', weight='73', country='Argentina', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Mohamed Abarhoun', sport='Football', age='23', height='187', weight='75', country='Morocco', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Emanuele Abate', sport='Athletics', age='27', height='190', weight='80', country='Italy', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Ilyas Abbadi', sport='Boxing', age='19', height='170', weight='', country='Algeria', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Sohail Abbas', sport='Hockey', age='37', height='', weight='', country='Pakistan', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Shakeel Abbasi', sport='Hockey', age='28', height='', weight='', country='Pakistan', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Soulmaz Abbasiazad', sport='Rowing', age='28', height='173', weight='60', country='Islamic Republic of Iran', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Simona Abbate', sport='Water Polo', age='28', height='171', weight='64', country='Italy', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Ahmed Abd Elgaber', sport='Football', age='22', height='171', weight='62', country='Egypt', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Reem Abdalazem', sport='Synchronised Swimming', age='19', height='167', weight='', country='Egypt', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Mohamed Fawzi Abdalla', sport='Football', age='22', height='175', weight='63', country='United Arab Emirates', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Mohamed Abdel Baki', sport='Weightlifting', age='25', height='162', weight='69', country='Egypt', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Hesham Abdelaal', sport='Boxing', age='18', height='167', weight='', country='Egypt', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Tarek Abdelazim', sport='Weightlifting', age='25', height='175', weight='85', country='Egypt', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Shaza Abdelrahman', sport='Synchronised Swimming', age='19', height='170', weight='', country='Egypt', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Mouni Abderrahim', sport='Volleyball', age='26', height='171', weight='60', country='Algeria', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Youcef Abdi', sport='Athletics', age='34', height='177', weight='66', country='Australia', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Abdihakem Abdirahman', sport='Athletics', age='35', height='180', weight='61', country='United States of America', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Moustapha Abdoulaye Hima', sport='Boxing', age='20', height='183', weight='', country='Niger', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Dana Abdul Razak', sport='Athletics', age='26', height='165', weight='55', country='Iraq', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Magomed Abdulhamidov', sport='Boxing', age='25', height='167', weight='', country='Azerbaijan', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Muminjon Abdullaev', sport='Wrestling', age='22', height='', weight='', country='Uzbekistan', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Layes Abdullayeva', sport='Athletics', age='21', height='170', weight='47', country='Azerbaijan', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Rasul Abduraim', sport='Taekwondo', age='23', height='180', weight='', country='Kyrgyzstan', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Yusup Abdusalomov', sport='Wrestling', age='34', height='173', weight='84', country='Tajikistan', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Saeid Morad Abdvali', sport='Wrestling', age='22', height='170', weight='66', country='Islamic Republic of Iran', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Mojtaba Abedini', sport='Fencing', age='27', height='179', weight='82', country='Islamic Republic of Iran', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Jennifer Abel', sport='Diving', age='20', height='160', weight='62', country='Canada', sex='F', gold='0', silver='0', bronze='1', total='1'),
 Row(name='Yaritza Abel Rojas', sport='Judo', age='28', height='', weight='62', country='Cuba', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Pablo Abian', sport='Badminton', age='27', height='177', weight='78', country='Spain', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Tomomi Abiko', sport='Athletics', age='24', height='173', weight='53', country='Japan', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Camille Abily', sport='Football', age='27', height='168', weight='60', country='France', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Endurance Abinuwa', sport='Athletics', age='25', height='159', weight='54', country='Nigeria', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Khalil Mahmoud K Abir Abdelrahman', sport='Weightlifting', age='20', height='162', weight='75', country='Egypt', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Denis Ablyazin', sport='Gymnastics - Artistic', age='20', height='161', weight='', country='Russian Federation', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Bukola Abogunloko', sport='Athletics', age='17', height='170', weight='53', country='Nigeria', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Aminata Aboubakar Yacoub', sport='Swimming', age='23', height='166', weight='68', country='Congo', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Rabah Aboud', sport='Athletics', age='31', height='180', weight='64', country='Algeria', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Gabrielle Aboudi Onguene', sport='Football', age='23', height='152', weight='58', country='Cameroon', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Alaaeldin Abouelkassem', sport='Fencing', age='21', height='188', weight='82', country='Egypt', sex='M', gold='0', silver='1', bronze='0', total='1'),
 Row(name='Abouhalima Abouhalima', sport='Wrestling', age='18', height='153', weight='55', country='Egypt', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Mohamed Aboutrika', sport='Football', age='33', height='182', weight='77', country='Egypt', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Arnaldo Abrantes', sport='Athletics', age='25', height='184', weight='78', country='Portugal', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Amir Abrashi', sport='Football', age='22', height='172', weight='70', country='Switzerland', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Erika Abril', sport='Athletics', age='34', height='158', weight='47', country='Colombia', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Laura Valentina Abril Restrepo', sport='Cycling - Mountain Bike', age='22', height='162', weight='50', country='Colombia', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Julien Absalon', sport='Cycling - Mountain Bike', age='31', height='180', weight='68', country='France', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Ayele Abshero', sport='Athletics', age='21', height='168', weight='62', country='Ethiopia', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Methkal Abu Drais', sport='Athletics', age='28', height='168', weight='62', country='Jordan', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Maher Abu Rmilah', sport='Judo', age='28', height='172', weight='72', country='Palestine', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Mohammad Abulibdeh', sport='Taekwondo', age='28', height='183', weight='', country='Jordan', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Kanat Abutalipov', sport='Boxing', age='29', height='168', weight='', country='Kazakhstan', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Irina Abysova', sport='Triathlon', age='31', height='175', weight='58', country='Russian Federation', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Raidel Acea', sport='Athletics', age='21', height='', weight='', country='Cuba', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Abraham Acevedo', sport='Judo', age='22', height='', weight='65', country='Paraguay', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Loreto Achaerandio', sport='Gymnastics - Rhythmic', age='20', height='164', weight='', country='Spain', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Kieron Achara', sport='Basketball', age='29', height='208', weight='110', country='Great Britain', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Georgios Achilleos', sport='Shooting', age='31', height='172', weight='80', country='Cyprus', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Janet Achola', sport='Athletics', age='24', height='167', weight='52', country='Uganda', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Natalie Achonwa', sport='Basketball', age='19', height='192', weight='83', country='Canada', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Dallal Merwa Achour', sport='Volleyball', age='17', height='175', weight='60', country='Algeria', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Haikel Achouri', sport='Wrestling', age='27', height='184', weight='84', country='Tunisia', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Chantal Achterberg', sport='Rowing', age='27', height='171', weight='72', country='Netherlands', sex='F', gold='0', silver='0', bronze='1', total='1'),
 Row(name='Luz Mercedes Acosta Valdez', sport='Weightlifting', age='31', height='166', weight='63', country='Mexico', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Amy Acuff', sport='Athletics', age='37', height='188', weight='66', country='United States of America', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Crox Acuna Rodriguez', sport='Swimming', age='22', height='192', weight='89', country='Venezuela', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Mariko Adachi', sport='Triathlon', age='29', height='162', weight='51', country='Japan', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Yumi Adachi', sport='Synchronised Swimming', age='23', height='160', weight='', country='Japan', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Idrissa Adam', sport='Athletics', age='27', height='178', weight='79', country='Cameroon', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Tomasz Adamiec', sport='Judo', age='30', height='171', weight='73', country='Poland', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Antoine Adams', sport='Athletics', age='23', height='180', weight='79', country='Saint Kitts and Nevis', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Cammile Adams', sport='Swimming', age='20', height='173', weight='65', country='United States of America', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Luke Adams', sport='Athletics', age='35', height='189', weight='70', country='Australia', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Lyukman Adams', sport='Athletics', age='23', height='194', weight='87', country='Russian Federation', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Nicola Adams', sport='Boxing', age='29', height='164', weight='', country='Great Britain', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Valerie Adams', sport='Athletics', age='27', height='193', weight='120', country='New Zealand', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Filip Adamski', sport='Rowing', age='29', height='189', weight='90', country='Germany', sex='M', gold='1', silver='0', bronze='0', total='1'),
 Row(name='Jakub Adamski', sport='Athletics', age='24', height='183', weight='75', country='Poland', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Chris Adcock', sport='Badminton', age='23', height='183', weight='80', country='Great Britain', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Jangy Addy', sport='Athletics', age='27', height='188', weight='88', country='Liberia', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Abrar Osman Adem', sport='Athletics', age='18', height='168', weight='58', country='Eritrea', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Margaret Adeoye', sport='Athletics', age='27', height='162', weight='65', country='Great Britain', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Seun Adigun', sport='Athletics', age='25', height='153', weight='52', country='Nigeria', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Jonna Adlerteg', sport='Gymnastics - Artistic', age='17', height='153', weight='', country='Sweden', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Rebecca Adlington', sport='Swimming', age='23', height='179', weight='70', country='Great Britain', sex='F', gold='0', silver='0', bronze='1', total='1'),
 Row(name='Nathan Adrian', sport='Swimming', age='23', height='201', weight='102', country='United States of America', sex='M', gold='1', silver='1', bronze='0', total='2'),
 Row(name='Jasper Aerents', sport='Swimming', age='19', height='190', weight='84', country='Belgium', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Sara Aerts', sport='Athletics', age='28', height='182', weight='64', country='Belgium', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Kseniia Afanaseva', sport='Gymnastics - Artistic', age='20', height='158', weight='', country='Russian Federation', sex='F', gold='0', silver='1', bronze='0', total='1'),
 Row(name='Francois Affolter', sport='Football', age='21', height='186', weight='74', country='Switzerland', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Alvaro Affonso de Miranda Neto', sport='Equestrian', age='39', height='', weight='', country='Brazil', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Christos Afroudakis', sport='Water Polo', age='28', height='188', weight='88', country='Greece', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Georgios Afroudakis', sport='Water Polo', age='35', height='194', weight='103', country='Greece', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Dragos Agache', sport='Swimming', age='28', height='175', weight='75', country='Romania', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Alphonsine Agahozo', sport='Swimming', age='16', height='160', weight='50', country='Rwanda', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Luca Agamennoni', sport='Rowing', age='31', height='188', weight='96', country='Italy', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Mawussi Agbetoglo', sport='Table Tennis', age='18', height='', weight='', country='Togo', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Marilyn Agliotti', sport='Hockey', age='33', height='171', weight='61', country='Netherlands', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Yannick Agnel', sport='Swimming', age='20', height='202', weight='90', country='France', sex='M', gold='2', silver='1', bronze='0', total='3'),
 Row(name='Anna Agrafioti', sport='Sailing', age='21', height='178', weight='76', country='Greece', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Ulrika Agren', sport='Handball', age='25', height='177', weight='66', country='Sweden', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Renzo Agresta', sport='Fencing', age='27', height='', weight='', country='Brazil', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Mayra Aguiar', sport='Judo', age='21', height='178', weight='78', country='Brazil', sex='F', gold='0', silver='0', bronze='1', total='1'),
 Row(name='Alberto Aguilar', sport='Athletics', age='27', height='194', weight='80', country='Venezuela', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Alessandra Aguilar', sport='Athletics', age='34', height='165', weight='50', country='Spain', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Sandra Aguilar', sport='Gymnastics - Rhythmic', age='19', height='167', weight='', country='Spain', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Macarena Aguilar Diaz', sport='Handball', age='27', height='170', weight='67', country='Spain', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Inaki Aguilar Vicente', sport='Water Polo', age='28', height='189', weight='82', country='Spain', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Julen Aguinagalde Akizu', sport='Handball', age='29', height='196', weight='113', country='Spain', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Jeinkler Aguirre', sport='Diving', age='22', height='', weight='', country='Cuba', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Marcelo Aguirre', sport='Table Tennis', age='19', height='174', weight='66', country='Paraguay', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Matias Aguirregaray', sport='Football', age='23', height='178', weight='79', country='Uruguay', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Mikel Aguirrezabalaga Garcia', sport='Handball', age='28', height='196', weight='92', country='Spain', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Feta Ahamada', sport='Athletics', age='25', height='160', weight='50', country='Comoros', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Johanna Ahlm', sport='Handball', age='24', height='175', weight='65', country='Sweden', sex='F', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Christian Ahlmann', sport='Equestrian', age='37', height='192', weight='88', country='Germany', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Tontowi Ahmad', sport='Badminton', age='25', height='178', weight='68', country='Indonesia', sex='M', gold='0', silver='0', bronze='0', total='0'),
 Row(name='Waseem Ahmad', sport='Hockey', age='35', height='', weight='', country='Pakistan', sex='M', gold='0', silver='0', bronze='0', total='0'),

### Explanation
To read csv and return a list of named tuples:
1. Open the file and get each line using file.readlines()
2. Pull out the headers from the first line.
   I use strip() to remove all surround white space (including new lines)
   and then use split(",") to split the string into list of words using "," as the delimiter.
3. Create the named tuple using the headers
4. Interate through the rest of the lines
5. For each line, use the namedtuple function _make(...) and pass in the list of values.
   I use strip() to remove all surround white space (including new lines)
   and then use split(",") to split the string into list of words using "," as the delimiter.
6. Append that namedtuple to rows

### *BONUS* Challenge: FizzBuzz
Write a program that prints all of the numbers from 1 to 100. For multiples of 3, instead of the number, print "Fizz;" for multiples of 5, print "Buzz." For numbers that are multiples of both 3 and 5, print "FizzBuzz." Afterward, write a brief explanation walking through your code's logic in markdown.

In [9]:
# To print the fizzbuzz series:
# 1. Iterate through range(1, 101)
# 2. If the number is divisible by 3 and 5, print FizzBuzz
# 3. If the number is divisible by 5, print Buzz
# 4. If the number is divisible by 3, print Fizz
# 5. Otherwise, print the number
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 5 == 0:
        print("Buzz")
    elif i % 3 == 0:
        print("Fizz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### Explanation
To print the fizzbuzz series:
1. Iterate through range(1, 101)
2. If the number is divisible by 3 and 5, print FizzBuzz
3. If the number is divisible by 5, print Buzz
4. If the number is divisible by 3, print Fizz
5. Otherwise, print the number